:root {
  --primary-color: #3066be;
  --background-color: white;
  --accent-color: white;
  --warn-color: red;
}

body {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.main {
  display: grid;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  grid-template-columns: 40% 60%;
}

#mosaic-image:hover {
  filter: brightness(75%);
}

input.generateButton{
  color: var(--primary-color);
  background-color: var(--background-color);
  box-shadow: none;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: bold;
}

input[type='range']{
  background-color: var(--primary-color);
}

input.generateButton:hover{
  filter: brightness(75%);
}

button{
  color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

button.flat {
  box-shadow: none;
  border: 0px;
  cursor: pointer;
}

button.flat:hover {
  background-color: gainsboro;
}

button.nobg {
  background: none;
}

.collection-cell:hover img {
  filter: brightness(50%);
}

.collection-cell {
  display: inline-block;
  width: 25%;
  aspect-ratio: 1/1;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

.collection-cell-item {
 aspect-ratio: 1/1; 
 border: 2px solid var(--primary-color);
 box-sizing: border-box;
 border-radius: 0.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.add-image-button {
  /* display: inline-block; */
  object-fit: cover;
  aspect-ratio: 1 / 1;
  float: left;
  box-sizing: border-box;
  height: 100%;
  background: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
}

.add-image-button:hover {
  background: gainsboro;
}

button.fake-button:hover {
  background: none;
  cursor: default;
}

.App-header {
  background-color: var(--primary-color);
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10vh;
  padding-right: 10vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}