body {
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main {
  display: grid;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  grid-template-columns: 40% 60%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10vh;
  padding-right: 10vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
